#NavBar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
        display: inline;
        margin-right: 140px;
        align-items: center;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #3dcf14;
      }

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  text-align: center;
  font-weight: bold;
}

    
}

header{
    text-align: center;
    text-decoration: double;
    text-decoration-style: wavy;
    text-transform: inherit;
}

img {
    max-width: 100%;
    height: auto;
  }