.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.product-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.product-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.product-card a {
    text-decoration: none;
}

.product-card button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin: auto;
}
#NavBar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
        display: inline;
        margin-right: 150.7px;
        align-items: center;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #3dcf14;
      }
